[package]
edition = "2021"
name = "pictorus-traits"
description = "Base traits used to define Pictorus blocks."
version = "0.0.0"
license.workspace = true
homepage.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true


[features]
tricore = []
